.header {
  background-color: #1976d2;
  color: white;
  padding: 15px 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header h2 {
  margin: 0;
}

.header-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header button {
  background-color: white;
  color: #1976d2;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.header button:hover {
  background-color: #eaeaea;
}